<div class="crm-activities-container">

  <div class="crm-task-list-container">

    <mat-nav-list style="padding-top: 0">
      <a mat-list-item [routerLink]="['user-information']">
        <mat-icon matListIcon class="crm-task-list-icon"> assignment </mat-icon>
        <p mat-line>
          Step 1
        </p>
        <p mat-line>
          General Information
        </p>
      </a>

      <a mat-list-item [routerLink]="['insurance-information']">
        <mat-icon matListIcon class="crm-task-list-icon"> assignment </mat-icon>
        <p mat-line>
          Step 2
        </p>
        <p mat-line>
          Vehicle Information
        </p>
      </a>

      <a mat-list-item [routerLink]="['policy-calculator']">
        <mat-icon matListIcon class="crm-task-list-icon"> assignment </mat-icon>
        <p mat-line>
          Step 3
        </p>
        <p mat-line>
          Policy Calculator
        </p>
      </a>

      <a mat-list-item [routerLink]="['renew']">
        <mat-icon matListIcon class="crm-task-list-icon"> assignment </mat-icon>
        <p mat-line>
          Step 4
        </p>
        <p mat-line>
          Renew Policy
        </p>
      </a>

    </mat-nav-list>

  </div>

</div>
